<div class="col-xs-12 col-md-6 col-md-push-3">
<h3 class="page-header">Профиль</h3>
<ul class="list-group">
  <li class="list-group-item"><b>Имя пользователя:</b> {{ username }}</li>
  <li class="list-group-item"><b>Электронная почта:</b> {{ email }}</li>
  <li class="list-group-item"><b>Администрирование:</b> {{ admin }}</li>
  <br/>
  <p class="p-text"><b>ВАЖНО!</b> Обратите пожалуйста внимание на письмо высланное Вам при регистрации. 
    В нем содержиться иформация о Вашем логине и пароле. Пароль перед сохранением 
    в базе данных, шифруется, для Вашей  же безопастности, в связи с чем нет возможности его востановить!</p>
    <br/>
    <p class="p-text"><b>С Уважением,</b> Администрация сайта.</p>
</ul>
</div>