<div id="head" class="col-xs-12 col-md-8 col-md-push-2">
  <h3 class="page-header">Потерян пароль?</h3>
</div>

<div>
  <div class="row featurette">
    <div class="col-xs-12 col-md-8 col-md-push-2">
      <p>Добрый день, дорогой друг!</p>
      <p>Большое спасибо, что пользуетесь нашим сайтом. Но к сожалению есть принеприятнейшая новость.</p>
      <p>Ваш пароль, перед тем как сохраниться в базу данных, шифруется, без дальнейшей возможности расшифровки.
        В связи с этим, настоятельно рекомендую Вам найти письмо которое вам высылалось при регистрации в нем указан Ваш логин
        и пароль.</p>

      <p>В случае если данного письма Вы не нашли, тогда рекомендую Вам создать новую учетную запись.</p>
      <p>Но если Вы сильно скучаете по своей старой учетной записи, свяжитесь с администрацией сайта по электронной почте: <a target="_blank" href="mailto:helper.bot8@gmail.com">helper.bot8@gmail.com</a>
        для востановления Вашего пароля в индивидуальном порядке.</p>
        <br/>
      <p>С Уважением, Затонацкий Николай.
      <span>Удачи в Ваших начинаниях ;)</span></p>
    </div>
  </div>