<div id="head" class="col-xs-12 col-md-8 col-md-push-2">
  <h3 class="page-header">О сайте</h3>
</div>

<div>
  <div class="row featurette">
    <div class="col-xs-12 col-md-8 col-md-push-2">
      <p>Добрый день, дорогие друзья!</p>
      <p>Меня зовут, Затонацкий Николай и я являюсь администратором и собственно создателем этого сайта.
        Дизайн, верстка, FrontEnd и BackEnd - целиком и полностью моя работа (прошу заметить, что под дизайном
        понимается структура сайта, конечно Bootstrap я не разрабатывал, а жаль ;)
      </p>
      <p>Я потратил достаточно много времени, что бы разработать сайт используя последние технологии ( возможно
        не самые последние конечно ;)</p>

      <p>Эта страница не является скрытой, но на сайте нет перехода на нее, так, что если Вы попали на данную страницу,
        Вы или работодатель или HR/Рекрутер. В таком случае, я Вам расскажу о технологиях которые были задействованы для создания
        этого сайта:
      </p>
      <ul>
        <li>FrontEnd:</li>
        <ul>
          <li>JavaScript фреймворк Angular 2</li>
          <li>CSS3</li>
          <li>HTML5</li>
          <li>Bootstrap</li>
          <li>Bootswatch</li>
          <li>Text editor - TinyMCE</li>
          <li>JWT - JSON Web Token</li>
          <li>И много вспомогательных плюшек</li>
        </ul>
        <li>BackEnd:</li>
        <ul>
          <li>Фреймворк Express, программной платформы Node.js</li>
          <li>База данных MongoDB и моделирование объектов Mongoose</li>
          <li>JWT - JSON Web Token</li>
          <li>Nodemailer - модуль позволяющий отсылать письма</li>
          <li>И много вспомогательных плюшек</li>
        </ul>
      </ul>
      <p>По всем вопросам, со мной можно связаться либо через <a target="_blank" href="https://www.linkedin.com/in/nikolay-zatonatskyi-53a47b145/">LinkedIn</a>,
        либо по электронной почте <a target="_blank" href="mailto:zsnikolay@gmail.com">zsnikolay@gmail.com</a>.</p>
      <br/>
      <p>С Уважением, Затонацкий Николай.
      <span>Удачи в Ваших начинаниях ;)</span></p>
    </div>
  </div>