<!-- <div class="container"> -->
<footer class="footer">
                <div class="container">
                <div id="left-text" class="col-xs-4 col-md-4">
                        <div class="col-md-8">
                                <p>&copy; 2017 HR Recruiter</p>
                        </div>
                        <div class="col-md-4">
                                <div id="qoo-counter">
                                        <a href="http://qoo.by/" title="Сервис коротких ссылок">
                                        <img src="http://qoo.by/counter/standard/007.png" alt="Укоротить ссылку">
                                        <div id="qoo-counter-visits"></div>
                                        <div id="qoo-counter-views"></div>
                                        </a>
                                </div>
                        </div>
                </div>
                <div id="icons" class="col-xs-4 col-md-4">
                        <div class="col-xs-3 col-md-3">
                                <a target="_blank" href="https://www.linkedin.com/in/tanya-zatonatskaya-7560aa98/"><img src="../../../assets/images/linkedin.png"></a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                                <a target="_blank" href="https://www.facebook.com/tanusha.nadzhos"><img src="../../../assets/images/facebook.png"></a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                                <a target="_blank" href="skype:live:be293b76f520a18e?chat"><img src="./../../../assets/images//skype.png"></a>
                        </div>
                        <div class="col-xs-3 col-md-3">
                                <a target="_blank" href="mailto:ithr.tanya@gmail.com"><img src="./../../../assets/images/mail.png"></a>
                        </div>
                </div>
                <div id="right-text" class="col-xs-4 col-md-4">
                        <p>Сайт сделал:&nbsp;<a target="_blank" href="https://www.linkedin.com/in/nikolay-zatonatskyi-53a47b145/">Затонацкий Николай</a></p>
                </div>
        </div>
</footer>
<!-- </div> -->