<div class="col-md-12">
  <div class="col-xs-10 col-xs-push-1 col-md-4 col-md-push-4">
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{message}}
      </div>
    </div>
  </div>
</div>

<div class="clearfix visible-xs"></div>

<div class="col-xs-12 col-md-12">
  <div id="head" class="col-xs-10 col-xs-push-1 col-md-4 col-md-push-4">
    <h3 class="page-header">Регистрационная форма</h3>
  </div>
</div>

<div class="clearfix visible-xs"></div>

<form [formGroup]="form" (submit)="onRegisterSubmit()">
  <div class="col-xs-10 col-xs-push-1 col-md-4 col-md-push-4">
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || 
    (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Имя пользователя" formControlName="username"
          (blur)="checkUsername()" />
        <ul class="help-block">
          <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">Это поле обязательное для заполнения</li>
          <li *ngIf="(form.controls.username.errors?.minlength && form.controls.username.dirty) || (form.controls.username.errors?.maxlength 
        && form.controls.username.dirty)">Длина имени пользователя должна быть не менее 3 символов, но не более 15</li>
          <li *ngIf="form.controls.username.errors?.validateUserName && form.controls.username.dirty">Имя пользователя должно состоять из латинских букв и/или цифр</li>
          <li *ngIf="usernameMessage">{{usernameMessage}}</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Электронная почта:</label>
      <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || 
    (!emailValid && form.controls.username.dirty), 'has-success': !form.controls.email.errors && emailValid}">
        <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Эл. почта" formControlName="email"
          (blur)="checkEmail()" />
        <ul class="help-block">
          <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Это поле обязательное для заполнения</li>
          <li *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty) || (form.controls.email.errors?.maxlength 
        && form.controls.email.dirty)">Длина почты должна быть не менее 6 символов, но не более 30</li>
          <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Проверьте правильность формата электронной почты</li>
          <li *ngIf="emailMessage">{{emailMessage}}</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль:</label>
      <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Пароль" formControlName="password"
        />
        <ul class="help-block">
          <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Это поле обязательное для заполнения</li>
          <li *ngIf="(form.controls.password.errors?.minlength && form.controls.password.dirty) || (form.controls.password.errors?.maxlength 
        && form.controls.password.dirty)">Длина пароля должна быть не менее 6 символов, но не более 30</li>
          <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Пароль должен содержать минимум 1 букву и 1 цифру</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="confirm">Подтвердите Ваш пароль:</label>
      <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) ||
    (form.errors?.matchingPassword && form.controls.confirm.dirty)
    , 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPassword}">
        <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Подтвердите Ваш пароль" formControlName="confirm"
        />
        <ul class="help-block">
          <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">Это поле обязательное для заполнения</li>
          <li *ngIf="form.errors?.matchingPassword && form.controls.confirm.dirty">Пароль не совпадает</li>
        </ul>
      </div>
    </div>
    <input [disabled]="!form.valid || processing || !emailValid || !usernameValid" type="submit" class="btn btn-success" value="Зарегистрировать"
    />
    <input [disabled]="form.valid || processing" type="button" class="btn btn-primary" value="Войти" routerLink="/login" />
  </div>
</form>

<!-- <p>Username: {{form.controls.username.value}}</p>
  <p>Email: {{form.controls.email.value}}</p>
<p>Password: {{form.controls.password.value}}</p> -->