<h2 class="page-header">Удаление новости</h2>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="col-md-6" *ngIf="foundNews">
  <div class class="modal-content">
    <div class="modal-header">
      <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Confirm</h4>
    </div>
    <div class="modal-body">
      <p>Вы уверены что хотите удалить эту новость?</p>
    </div>
    <div class="modal-footer">
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteNews()">Да</button>
      <a routerLink="/news"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Нет</button></a>
    </div>
  </div>

  <br/>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{news.title}}</h3>
    </div>
    <div class="panel-body">
      {{ news.hat }}
    </div>
    <div class="panel-footer">
      <strong>Автор:</strong> {{ news.createdBy }}
      <strong>Дата:</strong> {{news.createdAt | date:'dd.MM.yyyy'}}
    </div>
  </div>
</div>