<div class="col-md-10 col-md-push-1">
  <h3 class="text-muted" id="head">Вакансии</h3>

  <div class="col-md-12">
    <div *ngIf="admin">
      <a [routerLink]="['/create-vacancy']"><button type="button" name="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить</button></a>
      <button [disabled]="!loadingVacancies" type="button" name="button" class="btn btn-warning" (click)="refreshVacancies()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Обновить</button>
    </div>

    <div *ngIf="loadingVacancies" class="col-xs-12 col-md-9">
      <div id="grid">
        <div *ngFor="let vacancy of vacanciesArray; let i = index" [attr.data-index]="i" class="col-xs-12 col-md-12" (click)="redirect(vacancy.post._id)">
          <div *ngIf="vacancy.number == currentId">
            <div id="grid-cell">
              <h3 class="featurette-heading"><a id="links" [routerLink]="['/full-vacancy/', vacancy.post._id]">{{vacancy.post.title}}</a></h3>
              <p class="">{{vacancy.post.hat}}</p>
            </div>
          </div>
        </div>
      </div>
      <nav *ngIf="loadingVacancies" id="pagination-bottom" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngIf="currentId-1 >= 1">
            <a class="page-link" [routerLink]="['/vacancies/', currentId-1]" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
          </li>
          <li *ngFor="let index of countArray" class="page-item"><a class="page-link" [routerLink]="['/vacancies/', index]">{{index}}</a></li>
          <li class="page-item" *ngIf="currentId+1 <= count">
            <a class="page-link" [routerLink]="['/news/', currentId+1]" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
          </li>
        </ul>
      </nav>
    </div>

    <div id="left-colomn" *ngIf="loadingVacancies" class="col-xs-12 col-md-3">
      <div *ngIf="vacanciesArray.length > 0" id="left-colomn-top">
        <p class="p-text"><b>Горящие вакансии</b></p>
      </div>
      <div *ngFor="let vacancy of vacanciesArray; let i = index" [attr.data-index]="i" (click)="redirect(vacancy.post._id)">
        <div *ngIf="vacancy.post.hot" id="left-hot">
          <p id="left-hot-p1"><a id="links" [routerLink]="['/full-vacancy/', vacancy.post._id]"><span id="fire" class="glyphicon glyphicon-fire"></span><b> {{vacancy.post.title}}</b></a></p>
          <p class="p-down">{{vacancy.post.hat}}</p>
        </div>
      </div>
    </div>
  </div>
</div>